@use "./theme" as theme;

window.Bar {
  background: transparent;
  color: theme.$fg-color;
  font-family: "Fira Code Nerd Font", "sans-serif";
  font-weight: bold;

  >centerbox {
    background: theme.$bg-color;
    border-radius: 10px;
    margin: 0px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}