@use "./theme" as theme;

window.Bar {
  background: transparent;
  /* color: theme.$fg-color; */
  font-family: "FiraCode Nerd Font";
  font-weight: 700;

  >centerbox {
    background: theme.$bg-color;
    border-radius: 8px;
    margin: 0px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}