@use "./theme" as theme;

* {
  font-family: "FiraCode Nerd Font", "JetBrainsMono";
  font-weight: bold;
  font-size: 16px;
}

window.Bar {
  background: transparent;

  >centerbox {
    background: theme.$bg-color;
    border-radius: 8px;
    margin: 0px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}